p {
    text-align: center;
    color: blue;
}

h2 {
    color: olive;
    font-family: sans-serif, verdana;
    text-align: center;
}

h1 {
    color: olive;
    font-family: sans-serif, verdana;
    text-align: center;
}

th, td {
	padding: 15px;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

tr:nth-child(even){
	background: grey;
	color: white
}

tr:nth-child(odd){
	background: #FFF
}