h1,h2 {
	color: navy;
}
span{
	font-family: sans-serif: Verdana;
	color: blue;
	font-size: 130%;
}
p{
	color: black; line-height: 150%
}
body{
	font-family: "Times New Roman", Times, serif, Garamond;
	background-image: url("snow.gif");
    background-repeat: repeat;
    background-size: cover;
}